<div class="post">
  <div>
    <h1><%= @post.title %> by <%= @post.author.name %></h1>
    <p>Comments <%= @post.comments_counter%>, Likes <%= @post.likes_counter%></p>
  </div>
  <p><%= @post.text %></p>
</div>

<div class="comments">
  <ul>
    <% @comments.each do |comment| %>
      <li><%= comment.author.name %>: <%= comment.text%></li>
    <% end %>
  </ul>
</div>